@model IEnumerable<WebApplication2.Models.Case>

@{
    ViewBag.Title = "AllCases";
}

<h2>AllCases</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.caseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.caseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
